*
{
    margin: 0;
    padding: 0;
}

header{
    width: 100%;
    background-color: yellow;
    height: 70px;
    position:fixed;
    z-index: 100; /* mostrar el menu por encima de todos los elementos */
}

.cajaDeMenu
{
    width: 80%;
    height: 70px;
    /* background:red; */
    margin: auto; /* reacomoda en el centro del tamaño de la caja de menú */
}

.logo
{
    width: 30%;
    height: 70px;
/*     background: blue; */
    float: left;
    padding-top: 10px;
    box-sizing: border-box; /* // fuerza a ocupar el ancho del contenedor */
}

.logo p a 
{
    color:rgb(88, 75, 70);
    font-size: 40px;
    text-decoration: none;
}

nav
{
    width: 70%;
    height: 70px;
/*     background: olive; */
    float: left;
    text-align: right;
    padding-top: 24px; /* esto es para centralizar el menú en la navegación */
    box-sizing: border-box;
}

nav ul li 
{
    display: inline;
    
}

nav ul li a 
{
    color: white;
    font-size: 13 px;
    text-decoration: none;
    padding-left: 15px;
    font-weight: bold;
    letter-spacing: 1px;
}

nav ul li a:hover{
    color: #444;
}


/*Ojota  */

.seccion1{
    background-color: gray;
    padding: 10rem 0 0 0;
    width: 100%;
    height: 12rem;
    
}
/*  1.Como sacar la barra de desplazamiento.
    2.Preguntar como se puede hacer para que los dos bloques
de FraseGrande y Frase media ocupen todo el alto de
la pantalla principal */
.frasePrincipal{
    color: white;
    font-size: 5rem;
    padding-left: 3rem;
    /* width: 75%;  ---- esto esta comentado ya que quiero resolver la duda de la barra de desplazamiento
    border-style: solid;
    border-width: 0.5rem;
    margin-right: 0;   */
}
.fraseSecundaria{
    color: darkslategrey;
    font-size: 2rem;
    padding-left: 3rem;

}

/* Seccion2 */
.seccion2{
    background-color: darkturquoise;
    padding: 0 0 3rem 0;
}

.cartel1{
    text-align: center;
    border-style: solid;
    border-width: 0.3rem;
    width: 25%;
    margin: auto;
    border-radius: 10px;
}

.columnas{
    display: flex;
    justify-content: space-evenly;
    padding: 0.75rem 0 0 0;
} /* para modificar cada columna usar la clase "columna" */

/* Seccion 3 */
.seccion3{
    background-color: darkviolet;
    padding: 0 0 3rem 0;
}

.columnasMisionyVision {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 10rem 4rem 10rem;
    
}/* si quiero modificar alguna de las dos columnas puedo usar la clase "misionyVision". También ver la forma de desplazar las 2 columnas*/

.mision{
    border-style: solid;
    border-width: 0.3rem;
    border-radius: 10px;
    padding: 0 3rem 0 3rem;
}
.vision{
    border-style: solid;
    border-width: 0.3rem;
    border-radius: 10px;
    padding: 0 3rem 0 3rem;

}
.valor{
    display: flex;
    justify-content: center;
    border-style: solid;
    border-width: 0.3rem;
    width: 25%;
    margin: auto;
    border-radius: 10px;
}

.seccion4{
    background-color: lawngreen;
    display: flex;
    width: 100%;
    padding: 0 0 3rem 0 ;
/*     justify-content: center;
    align-content: center; */
    gap: 10px;
}

.nuestrosClientes{
width: 35%;
text-align: center;
}

.nuestrosClientesTexto{
width: 65%;

}

footer{
    display: flex;
    background-color: lightsalmon;
    justify-content: space-around;
    padding: 0 0 8rem 0;
}

.logoFooter{
    width: 50%;
    justify-items: center; /* buscar como centralizar un elemento en FlexBox */
    text-align: center;

}

.columnaFooter1{
    width: 25%;
}

.columnaFooter2{
    width: 25%;
}