*
{
    margin: 0;
    padding: 0;
}

/* 
1. Tabla de colores:
    -
*/

header{
    width: 100%;
    background-color:#212f3d;
    height: 70px;
    position:fixed;
    z-index: 100; /* mostrar el menu por encima de todos los elementos */
}

.cajaDeMenu
{
    width: 80%;
    height: 70px;
    /* background:red; */
    margin: auto; /* reacomoda en el centro del tamaño de la caja de menú */
}

.logo
{
    width: 30%;
    height: 70px;
/*     background: blue; */
    float: left;
    padding-top: 10px;
    box-sizing: border-box; /* // fuerza a ocupar el ancho del contenedor */
}

.logo p a 
{
    color: #e5e7e9;    ;
    font-size: 40px;
    text-decoration: none;
}

nav
{
    width: 70%;
    height: 70px;
/*     background: olive; */
    float: left;
    text-align: right;
    padding-top: 24px; /* esto es para centralizar el menú en la navegación */
    box-sizing: border-box;
}

nav ul li 
{
    display: inline;
    
}

nav ul li a 
{
    color: white;
    font-size: 13 px;
    text-decoration: none;
    padding-left: 15px;
    font-weight: bold;
    letter-spacing: 1px;
}

nav ul li a:hover{
    color:#DAF7A6;
}


/*Seccion 1  */

.seccion1{
    background-color: white;
    padding: 10rem 0 0 0;
    width: 100%;
    height: 12rem;
    
}
/*  1.Como sacar la barra de desplazamiento.
    2.Preguntar como se puede hacer para que los dos bloques
de FraseGrande y Frase media ocupen todo el alto de
la pantalla principal */
.frasePrincipal{
    color:#17202a;
    font-size: 5rem;
    padding-left: 8rem;
    font-weight: bold; /* esta propiedad hace que la letra sea negrita */
    /* width: 75%;  ---- esto esta comentado ya que quiero resolver la duda de la barra de desplazamiento
    border-style: solid;
    border-width: 0.5rem;
    margin-right: 0;   */
}
.fraseSecundaria{
    color: #17202a;
    font-size: 2rem;
    padding-left: 8rem;

}

/* Seccion2 */
.seccion2{
    background-color: #e5e7e9;
    padding: 0 0 3rem 0;
}

.cartel1{
    text-align: center;
    border-style: solid;
    border-width: 0.3rem;
    width: 25%;
    margin: auto;
    border-radius: 10px;
}

.columnas{
    display: flex;
    justify-content: space-evenly;
    padding: 0.75rem 0 0 0;
} /* para modificar cada columna usar la clase "columna" */

/* Seccion 3 */
.seccion3{
    background-color: #e5e7e9;
    padding: 0 0 3rem 0;
}

.columnasMisionyVision {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 10rem 4rem 10rem;
    
}/* si quiero modificar alguna de las dos columnas puedo usar la clase "misionyVision". También ver la forma de desplazar las 2 columnas*/

.mision{
    border-style: solid;
    border-width: 0.3rem;
    border-radius: 10px;
    padding: 0 3rem 0 3rem;
}
.vision{
    border-style: solid;
    border-width: 0.3rem;
    border-radius: 10px;
    padding: 0 3rem 0 3rem;

}
.valor{
    display: flex;
    justify-content: center;
    border-style: solid;
    border-width: 0.3rem;
    width: 25%;
    margin: auto;
    border-radius: 10px;
}

/* comienza la seccion 4 */
.seccion4{
    background-color: white;
    display: flex;
    width: 100%;
    padding: 0 0 3rem 0 ;
/*     justify-content: center;
    align-content: center; */
    gap: 10px;
}

.nuestrosClientes{
width: 35%;
text-align: center;
font-weight: bold;
}

.nuestrosClientesTexto{
width: 65%;

}

/* Ultima sección pie de página */

footer{
    display: flex;
    background-color: #000000;    ;
    justify-content: space-between; /*space-aroud space-between */
    padding: 0 0 1rem 0;
    align-items: center;
}
/* preguntar como hacer en flexbox una división con más proporción de alguna columna */
.logoFooter{
   /*  width: 35%; a modificar*/
    justify-items: center; /* buscar como centralizar un elemento en FlexBox */
    text-align: center;

}
.imglogo{
    width: 250px;
    height: 250px;
}
.columnaFooter1{
    width: 25%;
    color: white
}

.columnaFooter1 h2 {
    padding: 0 0 2rem 0;
/*     text-align: center;
 */}

.columnaFooter1 iframe{
    text-align: center;
}

iframe {
    border: 2px solid rgb(223, 219, 219);
/*     width: 100%;
 */}

.output {
    background: #eee;
}

 /* Segunda columna de Redes Sociales */

.columnaFooter2{
    width: 25%;
    color: white;
    padding: 0 2rem 0 0;
}

.columnaFooter2 h2 {
text-align: center;
padding-bottom: 3.5rem;
}

/* Preguntar la diferencia entre justify-content y align-content */
.contenedorDeIconos{
    display: flex;
    justify-content: space-between;
    align-content: space-around;
    gap: 1.3rem;

} 

/* Consultar porque se pintan todos del color del primer hijo desde que agregué el enlace para cada icono. */

.contenedorDeIconos a :nth-child(1){
    color: #3b5998;
    font-size: 3.5rem;
}

.contenedorDeIconos a :nth-child(2){
/*     color: #833AB4; -- Averiguar como hacer para dar varios colores a un Icono
 */    font-size: 3.5rem;
}

.contenedorDeIconos a :nth-child(3){
    color:#c4302b;
    font-size: 3.5rem;
}

.contenedorDeIconos a :nth-child(4){
    font-size: 3.5rem;
}