*
{
    margin: 0;
    padding: 0;
}

header{
    width: 100%;
    background-color: yellow;
    height: 70px;
    position:fixed;
    z-index: 100; /* mostrar el menu por encima de todos los elementos */
}

.cajaDeMenu
{
    width: 80%;
    height: 70px;
    /* background:red; */
    margin: auto; /* reacomoda en el centro del tamaño de la caja de menú */
}

.logo
{
    width: 30%;
    height: 70px;
/*     background: blue; */
    float: left;
    padding-top: 10px;
    box-sizing: border-box; /* // fuerza a ocupar el ancho del contenedor */
}

.logo p a 
{
    color:rgb(88, 75, 70);
    font-size: 40px;
    text-decoration: none;
}

nav
{
    width: 70%;
    height: 70px;
/*     background: olive; */
    float: left;
    text-align: right;
    padding-top: 24px; /* esto es para centralizar el menú en la navegación */
    box-sizing: border-box;
}

nav ul li 
{
    display: inline;
    
}

nav ul li a 
{
    color: white;
    font-size: 13 px;
    text-decoration: none;
    padding-left: 15px;
    font-weight: bold;
    letter-spacing: 1px;
}

nav ul li a:hover{
    color: #444;
}

.bloqueBanner
{
    width: 100%;
    background-color: gray;
    padding-left: 50px;
    padding-top: 30px;
    padding-bottom: 40px;
}

.fraseGrande {
    font-size: 72px;
    color: greenyellow;
}
.fraseMedia{
    font-size: 34px;
}

/* Perguntar como se puede hacer para que los dos bloques 
de FraseGrande y Frase media ocupen todo el alto de
la pantalla principal */
.titulo{
text-align: center;
}
.contenedor {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  /* 
.contenedor > div {
    width: 50%;
  } */

.contenedorFlexObjetivos{
    display: flex;
    flex-direction: row;
}

.contenedorClientesyTexto{
    background-color: teal;
}

.nuestrosClientes{
    width: 50%;
    background-color: yellow;
    display: inline;
    float: left;
    padding-left: 30px;
    box-sizing: border-box; /* // fuerza a ocupar el ancho del contenedor */
    height: 70px;

}

.nuestrosClientesTexto{
    width: 50%;
    background-color: blue;
    display: inline;
    float: right;
    padding-right: 30px;
    box-sizing: border-box; /* // fuerza a ocupar el ancho del contenedor */
    height: 70px;

}

footer
{
display: flex;
flex-flow: row wrap;
padding: 50px;
color: #fff;
background-color: violet;
}

.footer > * {
    flex: 1 100%;
}

.footerLogo{
    margin-right: 1.25em;
    margin-bottom: 2em;
    width: 75%;
}
h2{
font-weight: 600;
font-size: 17px;
}

.footer ul{
    list-style: none; /* sacar estilo */
    padding-left: 0;
}

.footer li{
    line-height: 2em;
}

.footer a{
    text-decoration: none;
}

.footerColumnas{
    display: flex;
    flex-flow: row wrap;
}
.footerColumnas > *{
    flex: 1 50%;
    margin-right: 1.25em;
}
.footerContenido a{
    color: #999;
}

.footerDerechosReservados{
    text-align:center ;
    color: #999;
    padding-top: 50px;
}

.footerLogo p {
    padding-right: 20%;
    color: #999;
}

.footerColumnas p
{
    padding-right: 20%;
    color:#999;
}

