footer{
    width: 100%;
    background-color: chartreuse;
}

.footerFlex{
    display: flex;
    height: auto;
    border: 16 px solid black;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-between;
    align-items: flex-start;
}

.footerFlex div{
    background-color: coral;
    width: 100px;
    margin:10px ;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    border: 2px solid black;
}